* {
	margin: 0;
	padding: 0;
	font-family: Noto Sans KR, sans-serif;
}

a {
	color: #0c0c0c;
	text-decoration: none;
}

div {
	display: block;
}

.mainListContainer {
	position: relative;
	margin-bottom: 40px;
	padding: 0 20px;
}

.mainListTitleRow {
	position: relative;
	max-width: 1320px;
	padding: 12px 0 14px;
	margin: 0 auto;
}

.mainListTitle {
	position: relative;
	color: #0c0c0c;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: -0.4px;
	line-height: 30px;
}

.slideWrap {
	position: relative;
	max-width: 1320px;
	margin: 0 auto;
}

.boxoffice .bx-prev, .boxoffice .bx-next {
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 30%;
	top: 40%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	text-indent: -9999px;
	box-shadow: 0 1px 3px 0;
}

.boxoffice .bx-prev {
	right: 99%;
	background-image: url("../img/angle-left-solid.svg");
}

.boxoffice .bx-next {
	left: 98%;
	background-image: url("../img/angle-right-solid.svg");
}

.boxoffice .bx-prev:hover, .boxoffice .bx-next:hover {
	background-color: #eee;
}

.boxoffice_slider li img {
	width: 100%;
	border-radius: 4px;
}

.ranking_badge {
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: black;
	color: white;
	font-weight: 700;
	letter-spacing: normal;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	opacity: 0.8;
}

.movie_detail {
	position: relative;
	width: 100%;
	height: auto;
}

p.title {
	padding: 5px 0;
	font-family: Rix오늘의만화;
	font-size: 1.1em;
	font-weight: bold;
}

p.spec {
	font-size: 0.9em;
	font-family: Rix오늘의만화;
}

@media screen and (max-width: 760px) {
	.boxoffice .bx-prev, .boxoffice .bx-next {
		display: none;
	}
	.on_display {
		display: none;
	}
	.mainListContainer {
		padding: 0;
		margin-left: 1%;
		margin-right: 2%;
	}
}