*{
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}

a{
	text-decoration: none;
	color: black;
}
.movie_img_container{
	position: relative;
	width: 240px;
	height: 360px;
}

.movie_img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.ranking_badge{
	position: absolute;
    top: 4px;
    left: 4px;
    background-color: black;
    color: white;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    opacity: 0.8;
}

h3.subject{
	margin-top: 30px;
	margin-bottom: 15px;
}

p.title {
	padding: 5px 0;
	font-family: Rix오늘의만화;
	font-size: 1.1em;
	font-weight: bold;
}
p.spec{
	font-size: 0.9em;
	font-family: Rix오늘의만화;
}

li{
    list-style: none;
}

.movie_detail{
	position: relative;
	width: 240px;
	height: 100px;
}

.slide_outer_wrap{
	padding: 0 20px;
    position: relative;
    margin: 0 auto;
    height: auto;
}

.slide_wrapper{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.slide_container{
	overflow: hidden;
	
}

.slides{
    position: relative;
    left: 0;
    top: 0;
    transition: left 0.5s ease-out;
    
}

.slides li{
	float: left;
}

.slides li:not(:last-child){
    margin-right: 20px;
}

.prev, .next {
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 30%;
    z-index: 20;
    padding: 2px;
	top: 42%;
	left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.prev{
	display: none;
	background-image: url("../img/angle-left-solid.svg");
	margin-left: -51.5%;
}
/* 
.prev:hover {
	background-image: url("");
}
 */
.next{
	display: block;
	margin-left: 49%;
	background-image: url("../img/angle-right-solid.svg");

}
/* 
.next:hover {
	background-image: url("");
}
 */